In [ ]:
import numpy as np

Q1 Let x = np.arange(4, dtype=np.int64). Create an array of ones with the same shape and type as X.

In [ ]:
X = np.ones(4, dtype=np.int64)
print(X)

[1 1 1 1]

Q2 Let X = np.array([[1, 2], [3, 4]]). Convert it into a matrix.

In [ ]:
X = np.asmatrix([[1, 2], [3, 4]])
print(X)

[[1 2]
 [3 4]]

Q3 Create a 1-D array of 50 evenly spaced elements between 3. and 10., inclusive.

In [ ]:
X = np.linspace(3,10,50)
print(X)

[ 3.          3.14285714  3.28571429  3.42857143  3.57142857  3.71428571
  3.85714286  4.          4.14285714  4.28571429  4.42857143  4.57142857
  4.71428571  4.85714286  5.          5.14285714  5.28571429  5.42857143
  5.57142857  5.71428571  5.85714286  6.          6.14285714  6.28571429
  6.42857143  6.57142857  6.71428571  6.85714286  7.          7.14285714
  7.28571429  7.42857143  7.57142857  7.71428571  7.85714286  8.
  8.14285714  8.28571429  8.42857143  8.57142857  8.71428571  8.85714286
  9.          9.14285714  9.28571429  9.42857143  9.57142857  9.71428571
  9.85714286 10.        ]

Q4 Let x be array [[1, 2, 3], [4, 5, 6]]. Convert it to [1 4 2 5 3 6].

In [ ]:
x = np.array([[1,2,3],[4,5,6]])
X = []
for j in range(3):
  for i in range(2):
    X.append(x[i,j])
x= np.array(X)
print(x)

[1 4 2 5 3 6]

Q5 Let x be an array [1, 2, 3, ..., 9]. Split x into 3 arrays, each of which has 4, 2, and 3 elements in the original order.

In [ ]:
x= np.array([1,2,3,4,5,6,7,8,9])
x_1 = np.array_split(x,4)
x_2 = np.array_split(x,2)
x_3 = np.array_split(x,3)    


print(x_1)
print(x_2)
print(x_3)

[array([1, 2, 3]), array([4, 5]), array([6, 7]), array([8, 9])]
[array([1, 2, 3, 4, 5]), array([6, 7, 8, 9])]
[array([1, 2, 3]), array([4, 5, 6]), array([7, 8, 9])]

 Q6 Compute the inverse and primary diagnol sum of x=[[1,2],[3,4]]

In [ ]:
x=np.array([[1,2],[3,4]])
diagonal_sum=np.trace(x)
inverse=np.linalg.inv(x)
print(inverse)
print(np.trace(x))

[[-2.   1. ]
 [ 1.5 -0.5]]
5

Q7 Sort x along the second axis. x = [[1,4],[3,1]]

In [ ]:
x = np.array([[1,4],[3,1]])
print(np.sort(x, axis=1))

[[1 4]
 [1 3]]

Q8 Get the indices that would sort x(as above) along the second axis.

In [ ]:
x = np.array([[1,4],[3,1]])
indices=np.argsort(x, axis=1)
print(indices)

[[0 1]
 [1 0]]

Initiate x as a 2x5 array with random values from 0 to 10(not inclusive).Get the maximum and minimum values and their indices of x along the second axis.

In [ ]:
import random
rdm=[]
for i in range(10):
  x = random.randint(1,10)
  rdm.append(x)
x=np.array(rdm).reshape(2,5)

max_column=np.max(x,0)
min_column=np.min(x,0)
result_max = np.where(x == max_column)
result_min = np.where(x == min_column)
print(x)

print(max_column)
print(min_column)
print(result_max)
print(result_min)

[[ 4  5  1  1  9]
 [ 8  9 10 10  1]]
[ 8  9 10 10  9]
[4 5 1 1 1]
(array([0, 1, 1, 1, 1]), array([4, 0, 1, 2, 3]))
(array([0, 0, 0, 0, 1]), array([0, 1, 2, 3, 4]))

Run the following load command to get the 2-Dim iris dataset. Do the following operations on it.

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])
#print(iris_2d)

Drop rows that contain a missing value.

In [ ]:
print(iris_2d[~np.isnan(iris_2d).any(axis=1)])

[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]
 [5.4 3.9 1.7 0.4]
 [4.6 3.4 1.4 0.3]
 [5.  3.4 1.5 0.2]
 [4.4 2.9 1.4 0.2]
 [4.9 3.1 1.5 0.1]
 [5.4 3.7 1.5 0.2]
 [4.8 3.4 1.6 0.2]
 [4.8 3.  1.4 0.1]
 [4.3 3.  1.1 0.1]
 [5.8 4.  1.2 0.2]
 [5.7 4.4 1.5 0.4]
 [5.4 3.9 1.3 0.4]
 [5.1 3.5 1.4 0.3]
 [5.7 3.8 1.7 0.3]
 [5.1 3.8 1.5 0.3]
 [5.4 3.4 1.7 0.2]
 [5.1 3.7 1.5 0.4]
 [4.6 3.6 1.  0.2]
 [5.1 3.3 1.7 0.5]
 [4.8 3.4 1.9 0.2]
 [5.  3.  1.6 0.2]
 [5.  3.4 1.6 0.4]
 [5.2 3.5 1.5 0.2]
 [5.2 3.4 1.4 0.2]
 [4.7 3.2 1.6 0.2]
 [4.8 3.1 1.6 0.2]
 [5.4 3.4 1.5 0.4]
 [5.2 4.1 1.5 0.1]
 [5.5 4.2 1.4 0.2]
 [4.9 3.1 1.5 0.1]
 [5.  3.2 1.2 0.2]
 [5.5 3.5 1.3 0.2]
 [4.9 3.1 1.5 0.1]
 [4.4 3.  1.3 0.2]
 [5.1 3.4 1.5 0.2]
 [5.  3.5 1.3 0.3]
 [4.5 2.3 1.3 0.3]
 [4.4 3.2 1.3 0.2]
 [5.  3.5 1.6 0.6]
 [5.1 3.8 1.9 0.4]
 [4.8 3.  1.4 0.3]
 [5.1 3.8 1.6 0.2]
 [4.6 3.2 1.4 0.2]
 [5.3 3.7 1.5 0.2]
 [5.  3.3 1.4 0.2]
 [7.  3.2 4.7 1.4]
 [6.4 3.2 4.5 1.5]
 [6.9 3.1 4.9 1.5]
 [5.5 2.3 4.  1.3]
 [6.5 2.8 4.6 1.5]
 [5.7 2.8 4.5 1.3]
 [6.3 3.3 4.7 1.6]
 [4.9 2.4 3.3 1. ]
 [6.6 2.9 4.6 1.3]
 [5.2 2.7 3.9 1.4]
 [5.  2.  3.5 1. ]
 [5.9 3.  4.2 1.5]
 [6.  2.2 4.  1. ]
 [6.1 2.9 4.7 1.4]
 [5.6 2.9 3.6 1.3]
 [6.7 3.1 4.4 1.4]
 [5.6 3.  4.5 1.5]
 [5.8 2.7 4.1 1. ]
 [6.2 2.2 4.5 1.5]
 [5.6 2.5 3.9 1.1]
 [5.9 3.2 4.8 1.8]
 [6.1 2.8 4.  1.3]
 [6.3 2.5 4.9 1.5]
 [6.1 2.8 4.7 1.2]
 [6.4 2.9 4.3 1.3]
 [6.6 3.  4.4 1.4]
 [6.8 2.8 4.8 1.4]
 [6.7 3.  5.  1.7]
 [6.  2.9 4.5 1.5]
 [5.7 2.6 3.5 1. ]
 [5.5 2.4 3.8 1.1]
 [5.5 2.4 3.7 1. ]
 [5.8 2.7 3.9 1.2]
 [6.  2.7 5.1 1.6]
 [5.4 3.  4.5 1.5]
 [6.  3.4 4.5 1.6]
 [6.7 3.1 4.7 1.5]
 [6.3 2.3 4.4 1.3]
 [5.6 3.  4.1 1.3]
 [5.5 2.5 4.  1.3]
 [5.5 2.6 4.4 1.2]
 [6.1 3.  4.6 1.4]
 [5.8 2.6 4.  1.2]
 [5.  2.3 3.3 1. ]
 [5.6 2.7 4.2 1.3]
 [5.7 3.  4.2 1.2]
 [5.7 2.9 4.2 1.3]
 [6.2 2.9 4.3 1.3]
 [5.1 2.5 3.  1.1]
 [5.7 2.8 4.1 1.3]
 [6.3 3.3 6.  2.5]
 [5.8 2.7 5.1 1.9]
 [7.1 3.  5.9 2.1]
 [6.3 2.9 5.6 1.8]
 [6.5 3.  5.8 2.2]
 [7.6 3.  6.6 2.1]
 [4.9 2.5 4.5 1.7]
 [7.3 2.9 6.3 1.8]
 [6.7 2.5 5.8 1.8]
 [7.2 3.6 6.1 2.5]
 [6.5 3.2 5.1 2. ]
 [6.4 2.7 5.3 1.9]
 [6.8 3.  5.5 2.1]
 [5.7 2.5 5.  2. ]
 [5.8 2.8 5.1 2.4]
 [6.4 3.2 5.3 2.3]
 [6.5 3.  5.5 1.8]
 [7.7 3.8 6.7 2.2]
 [7.7 2.6 6.9 2.3]
 [6.  2.2 5.  1.5]
 [6.9 3.2 5.7 2.3]
 [5.6 2.8 4.9 2. ]
 [7.7 2.8 6.7 2. ]
 [6.3 2.7 4.9 1.8]
 [6.7 3.3 5.7 2.1]
 [7.2 3.2 6.  1.8]
 [6.2 2.8 4.8 1.8]
 [6.1 3.  4.9 1.8]
 [6.4 2.8 5.6 2.1]
 [7.2 3.  5.8 1.6]
 [7.4 2.8 6.1 1.9]
 [7.9 3.8 6.4 2. ]
 [6.4 2.8 5.6 2.2]
 [6.3 2.8 5.1 1.5]
 [6.1 2.6 5.6 1.4]
 [7.7 3.  6.1 2.3]
 [6.3 3.4 5.6 2.4]
 [6.4 3.1 5.5 1.8]
 [6.  3.  4.8 1.8]
 [6.9 3.1 5.4 2.1]
 [6.7 3.1 5.6 2.4]
 [6.9 3.1 5.1 2.3]
 [5.8 2.7 5.1 1.9]
 [6.8 3.2 5.9 2.3]
 [6.7 3.3 5.7 2.5]
 [6.7 3.  5.2 2.3]
 [6.3 2.5 5.  1.9]
 [6.5 3.  5.2 2. ]
 [6.2 3.4 5.4 2.3]
 [5.9 3.  5.1 1.8]]

Find the correlation between first two columns.

In [ ]:
print(np.corrcoef(iris_2d[:,0],iris_2d[:,1] ))

[[ 1.         -0.10936925]
 [-0.10936925  1.        ]]

Find the mean,median and standard deviation of column 3.

In [ ]:
Mean=np.mean(iris_2d[:,2])
Median=np.median(iris_2d[:,2])
Std_dev=np.std(iris_2d[:,2])

print(Mean)
print(Median)
print(Std_dev)

3.758666666666666
4.35
1.7585291834055212

Create a new column for volume in iris_2d, where volume is (pi x petallength x sepal_length^2)/3

In [ ]:
sepal_length=iris_2d[:,0].astype('float')
petal_length=iris_2d[:,2].astype('float')
volume =(np.pi*petal_length*(sepal_length**2))/3
#print(volume.shape)
#print(volume)
volume=volume[:,np.newaxis] # to increase dimension
#print(volume.shape) 
print(volume)
#Add the new column
result=np.hstack([iris_2d,volume])
#print(result)

[[ 38.13265163]
 [ 35.20049849]
 [ 30.07237208]
 [ 33.23805027]
 [ 36.65191429]
 [ 51.91167701]
 [ 31.02218026]
 [ 39.26990817]
 [ 28.38324243]
 [ 37.71481981]
 [ 45.80442089]
 [ 38.60389053]
 [ 33.77840421]
 [ 21.29895099]
 [ 42.27327075]
 [ 51.03517266]
 [ 39.69716477]
 [ 38.13265163]
 [ 57.83986235]
 [ 40.85641246]
 [ 51.91167701]
 [ 40.85641246]
 [ 22.15870018]
 [ 46.30393412]
 [ 45.84212   ]
 [ 41.88790205]
 [ 41.88790205]
 [ 42.47433268]
 [ 39.6427105 ]
 [ 37.01215025]
 [ 38.60389053]
 [ 45.80442089]
 [ 42.47433268]
 [ 44.34881629]
 [ 37.71481981]
 [ 31.41592654]
 [ 41.1810437 ]
 [ 37.71481981]
 [ 26.35586797]
 [ 40.85641246]
 [ 34.03392041]
 [ 27.56747554]
 [ 26.35586797]
 [ 41.88790205]
 [ 51.75145578]
 [ 33.77840421]
 [ 43.58017329]
 [ 31.02218026]
 [ 44.12366882]
 [ 36.65191429]
 [241.16959604]
 [193.01945264]
 [244.29966952]
 [126.71090369]
 [203.52284408]
 [153.10551797]
 [195.34737279]
 [ 82.97260357]
 [209.83325652]
 [110.43326496]
 [ 91.62978573]
 [153.10237638]
 [150.79644737]
 [183.14123814]
 [118.22441474]
 [206.83827152]
 [147.78051842]
 [144.43367505]
 [181.14423241]
 [128.0764493 ]
 [174.97414443]
 [155.86488352]
 [203.66002695]
 [183.14123814]
 [184.4408103 ]
 [200.71007145]
 [232.42759088]
 [235.04349037]
 [169.64600329]
 [119.08206953]
 [120.37535851]
 [117.20758592]
 [137.38812993]
 [192.2654704 ]
 [137.41326267]
 [169.64600329]
 [220.94088094]
 [182.87839155]
 [134.64447234]
 [126.71090369]
 [139.38199406]
 [179.24461605]
 [140.91090249]
 [ 86.39379797]
 [137.92848386]
 [142.89848344]
 [142.89848344]
 [173.09337763]
 [ 81.71282492]
 [139.4961386 ]
 [249.37962484]
 [179.66140067]
 [311.45644848]
 [232.75431652]
 [256.61575992]
 [399.20846168]
 [113.14445942]
 [351.57249227]
 [272.65044882]
 [331.14899843]
 [225.64489234]
 [227.33402199]
 [266.32328122]
 [170.11724219]
 [179.66140067]
 [227.33402199]
 [243.34253096]
 [415.99189683]
 [428.40956539]
 [188.49555922]
 [284.18532985]
 [160.91656451]
 [415.99189683]
 [203.66002695]
 [267.94957902]
 [325.72032632]
 [193.22051457]
 [190.93448231]
 [240.2019855 ]
 [314.86298211]
 [349.80168121]
 [418.27583469]
 [240.2019855 ]
 [211.97268112]
 [218.21083693]
 [378.73889114]
 [232.75431652]
 [235.91266433]
 [180.95573685]
 [269.22820723]
 [263.24870921]
 [254.2710846 ]
 [179.66140067]
 [285.69224713]
 [267.94957902]
 [244.44522998]
 [207.81635403]
 [230.069302  ]
 [217.37307889]
 [185.91002846]]

Run the following loaad command and solve the following questions

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')
names = ('sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species')

Find the count of unique species.

In [ ]:
i = np.unique(iris[:,4])
print(i)
print(len(i))

[b'Iris-setosa' b'Iris-versicolor' b'Iris-virginica']
3

Bin the petal length (3rd) column of iris_2d to form a text array, such that if petal length is:
Less than 3 –> ‘small’
3-5 –> ‘medium’
‘>=5 –> ‘large’

In [ ]:
bin_array=[]
for i in iris_2d[:,2]:
  if float(i) < 3:
    bin_array.append('small')
  if float(i) <=3 and float(i)<5:
    bin_array.append('medium')
  if float(i)>=5:
    bin_array.append('large')
print(np.array(bin_array))

['small' 'medium' 'small' 'medium' 'small' 'medium' 'small' 'medium'
 'small' 'medium' 'small' 'medium' 'small' 'medium' 'small' 'medium'
 'small' 'medium' 'small' 'medium' 'small' 'medium' 'small' 'medium'
 'small' 'medium' 'small' 'medium' 'small' 'medium' 'small' 'medium'
 'small' 'medium' 'small' 'medium' 'small' 'medium' 'small' 'medium'
 'small' 'medium' 'small' 'medium' 'small' 'medium' 'small' 'medium'
 'small' 'medium' 'small' 'medium' 'small' 'medium' 'small' 'medium'
 'small' 'medium' 'small' 'medium' 'small' 'medium' 'small' 'medium'
 'small' 'medium' 'small' 'medium' 'small' 'medium' 'small' 'medium'
 'small' 'medium' 'small' 'medium' 'small' 'medium' 'small' 'medium'
 'small' 'medium' 'small' 'medium' 'small' 'medium' 'small' 'medium'
 'small' 'medium' 'small' 'medium' 'small' 'medium' 'small' 'medium'
 'small' 'medium' 'small' 'medium' 'large' 'large' 'medium' 'large'
 'large' 'large' 'large' 'large' 'large' 'large' 'large' 'large' 'large'
 'large' 'large' 'large' 'large' 'large' 'large' 'large' 'large' 'large'
 'large' 'large' 'large' 'large' 'large' 'large' 'large' 'large' 'large'
 'large' 'large' 'large' 'large' 'large' 'large' 'large' 'large' 'large'
 'large' 'large' 'large' 'large' 'large' 'large' 'large']

Find the most frequent value of petal length (3rd column) in iris dataset

In [ ]:
vals, counts = np.unique(iris[:, 2], return_counts=True)
print(vals[np.argmax(counts)])

b'1.5'